name: shiori
description: A Database app.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+6

environment:
  sdk: '>=2.13.0 <3.0.0'

dependencies:
  darq: ^1.1.1
  device_info_plus: ^2.1.0
  devicelocale: ^0.4.2
  enum_to_string: ^2.0.1
  flutter:
    sdk: flutter
  flutter_bloc: ^7.2.0
  flutter_colorpicker: ^0.4.0
  flutter_inappwebview: ^5.3.2
  flutter_local_notifications: ^8.1.1+1
  flutter_localizations:
    sdk: flutter
  flutter_native_timezone: ^2.0.0
  flutter_slidable: ^0.6.0
  flutter_staggered_grid_view:
    git:
      url: git://github.com/bladeofgod/flutter_staggered_grid_view.git
      ref: master
  flutter_user_agentx: ^1.2.4
  fluttertoast: ^8.0.8
  freezed_annotation: ^0.14.2
  get_it: ^7.2.0
  grouped_list: ^4.1.0
  hive: ^2.0.4
  hive_flutter: ^1.1.0
  html: ^0.15.0
  http: ^0.13.3
  image_gallery_saver: ^1.6.9
  internet_connection_checker: ^0.0.1+2
  logger: ^1.1.0
  numberpicker: ^2.1.1
  package_info_plus: ^1.0.6
  path: ^1.8.0
  path_provider: ^2.0.2
  permission_handler: ^8.1.4+2
  pull_to_refresh: ^2.0.0
  rate_my_app: ^1.1.1
  responsive_builder: ^0.4.1
  responsive_grid: ^2.0.0
  screenshot: ^1.2.3
  shared_preferences: ^2.0.7
  sprintf: ^6.0.0
  transparent_image: 2.0.0
  tuple: ^2.0.0
  url_launcher: ^6.0.9
  webview_windows: ^0.0.7
  window_size:
    git:
      url: git://github.com/google/flutter-desktop-embedding.git
      path: plugins/window_size

dev_dependencies:
  build_runner:
  flutter_launcher_icons: ^0.9.2
  flutter_test:
    sdk: flutter
  freezed: ^0.14.2
  hive_generator: ^1.1.0
  json_serializable: ^4.1.3
  lint: ^1.6.0
  msix: ^2.1.3

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true

  assets:
    - assets/db/
    - assets/artifacts/
    - assets/characters/
    - assets/characters_full/
    - assets/elements/
    - assets/furniture/
    - assets/gadgets/
    - assets/i18n/
    - assets/items/common/
    - assets/items/currency/
    - assets/items/elemental/
    - assets/items/experience/
    - assets/items/ingredients/
    - assets/items/jewels/
    - assets/items/local/
    - assets/items/others/
    - assets/items/talents/
    - assets/items/weapon/
    - assets/items/weapon_primary/
    - assets/monsters/
    - assets/others/
    - assets/skills/
    - assets/weapons/
    - assets/weapons/bows/
    - assets/weapons/catalysts/
    - assets/weapons/polearms/
    - assets/weapons/claymores/
    - assets/weapons/swords/
    - assets/icon/icon.png

  fonts:
    - family: Shiori
      fonts:
        - asset: assets/fonts/Shiori.ttf

flutter_intl:
  enabled: true

msix_config:
  display_name: Shiori
  publisher_display_name: MiraiSoft
  identity_name: 52493MiraiSoft.Shiori
  msix_version: 1.0.0.0
  publisher: CN=58BF90DC-3D34-433E-A12B-4C504DF78641
  logo_path: assets\icon\icon.png
  start_menu_icon_path: assets\icon\icon.png
  languages: en, es, id, it, ja, pt, ru, vi, zh-cn
  icons_background_color: transparent
  capabilities: 'internetClient'
