name: shiori
description: A Database app.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.8.14+195

environment:
  sdk: '>=3.8.0 <4.0.0'

dependencies:
  bloc_concurrency: ^0.3.0
  darq: ^2.1.0
  device_info_plus: ^12.1.0
  devicelocale: ^0.8.2
  envied: ^1.3.0
  file_picker: ^10.3.3
  firebase_core: ^4.1.0
  firebase_messaging: ^16.0.1
  fl_chart: ^1.1.1
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  flutter_colorpicker: ^1.1.0
  flutter_inappwebview: ^6.1.5
  flutter_local_notifications: ^19.4.2
  flutter_localizations:
    sdk: flutter
  flutter_markdown_plus: ^1.0.5
  flutter_slidable: ^4.0.1
  flutter_timezone: ^4.1.1
  fluttertoast: ^8.2.12
  freezed_annotation: ^3.1.0
  get_it: ^8.2.0
  grouped_list: ^6.0.0
  hive_ce: ^2.11.3
  hive_ce_flutter: ^2.3.1
  http: ^1.5.0
  image_gallery_saver_plus: ^4.0.1
  infinite_listview: ^1.1.0
  internet_connection_checker_plus: ^2.8.0
  intl: ^0.20.2
  json_annotation: ^4.9.0
  logger: ^2.6.1
  open_file: ^3.5.10
  package_info_plus: ^9.0.0
  path: ^1.9.1
  path_provider: ^2.1.5
  permission_handler: ^12.0.1
  pull_to_refresh: ^2.0.0
  purchases_flutter: ^9.6.2
  rate_my_app: ^2.3.2
  responsive_builder: ^0.7.1
  responsive_grid: ^2.4.4
  screenshot: ^3.0.0
  share_plus: ^12.0.0
  shared_preferences: ^2.5.3
  sprintf: ^7.0.0
  store_checker: ^1.8.0
  synchronized: ^3.4.0
  transparent_image: ^2.0.1
  two_dimensional_scrollables: ^0.3.7
  url_launcher: ^6.3.2
  version: ^3.0.0
  version_tracker:
    git:
      url: https://github.com/Wolfteam/version_tracker.git
  wakelock_plus: ^1.4.0
  window_size:
    git:
      url: https://github.com/google/flutter-desktop-embedding
      path: plugins/window_size

dev_dependencies:
  bloc_test: ^10.0.0
  build_runner:
  envied_generator: ^1.3.0
  flutter_launcher_icons: ^0.14.4
  flutter_test:
    sdk: flutter
  freezed: ^3.2.3
  hive_ce_generator: ^1.9.2
  integration_test:
    sdk: flutter
  intl_utils: ^2.8.10
  json_serializable: ^6.11.1
  lint: ^2.8.0
  mockito: ^5.4.6
  msix: ^3.16.12

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  image_path_ios: "assets/icon/icon_ios.png"
  remove_alpha_ios: true
  macos:
    generate: true
    image_path: "assets/icon/icon_macos.png"
  windows:
    generate: true

flutter:
  uses-material-design: true
  assets:
    - assets/elements/
    - assets/others/
    - assets/weapon_types/
    - assets/icon/icon.png
    - assets/weapon_normal_skill_types/
  fonts:
    - family: Shiori
      fonts:
        - asset: assets/fonts/Shiori.ttf

flutter_intl:
  enabled: true

msix_config:
  display_name: "Shiori for Genshin: Unofficial"
  publisher_display_name: MiraiSoft
  identity_name: 52493MiraiSoft.ShioriforGenshinUnofficial
  publisher: CN=58BF90DC-3D34-433E-A12B-4C504DF78641
  logo_path: assets\icon\icon.png
  languages: en
  capabilities: 'internetClient'
  store: true
  toast_activator:
    clsid: "d49b0314-ee7a-4626-bf79-97cdb8a991bb"
    arguments: "msix-args"
    display_name: "Shiori"
