name: genshindb
description: A Genshin Impact app.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.2+85

environment:
  sdk: ">=2.10.4 <3.0.0"

dependencies:
  darq: ^1.1.1
  device_info_plus: ^1.0.1
  devicelocale: ^0.4.1
  enum_to_string: ^2.0.1
  flutter:
    sdk: flutter
  flutter_bloc: ^7.0.0
  flutter_colorpicker: ^0.4.0
  flutter_local_notifications: ^5.0.0+1
  flutter_localizations:
    sdk: flutter
  flutter_native_timezone: ^1.0.10
  flutter_slidable: ^0.6.0
  flutter_staggered_grid_view: ^0.4.0
  flutter_user_agentx: ^1.2.4
  flutter_webview_plugin: ^0.4.0
  fluttertoast: 8.0.3
  freezed_annotation: ^0.12.0
  get_it: ^7.1.3
  grouped_list: ^4.0.0
  hawk_fab_menu: ^0.3.2
  hive: ^2.0.0
  hive_flutter: ^1.0.0
  image_gallery_saver: ^1.6.9
  internet_connection_checker: ^0.0.1+1
  logger: ^1.0.0
  numberpicker: ^2.1.1
  package_info: ^2.0.0
  path: ^1.8.0
  path_provider: ^2.0.2
  permission_handler: ^6.1.3
  rate_my_app: ^1.1.0+1
  screenshot: ^0.3.0
  shared_preferences: ^2.0.6
  sprintf: ^6.0.0
  transparent_image: 2.0.0
  tuple: ^2.0.0
  url_launcher: ^6.0.2

dev_dependencies:
  build_runner: ^1.10.6
  flutter_launcher_icons: ^0.9.0
  flutter_test:
    sdk: flutter
  freezed: ^0.12.7
  hive_generator: ^1.0.0
  json_serializable: ^3.3.0
  lint: ^1.5.3

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"

flutter:
  uses-material-design: true

  assets:
    - assets/db/
    - assets/artifacts/
    - assets/characters/
    - assets/characters_full/
    - assets/elements/
    - assets/furniture/
    - assets/gadgets/
    - assets/i18n/
    - assets/items/common/
    - assets/items/currency/
    - assets/items/elemental/
    - assets/items/experience/
    - assets/items/ingredients/
    - assets/items/jewels/
    - assets/items/local/
    - assets/items/others/
    - assets/items/talents/
    - assets/items/weapon/
    - assets/items/weapon_primary/
    - assets/monsters/
    - assets/others/
    - assets/skills/
    - assets/weapons/
    - assets/weapons/bows/
    - assets/weapons/catalysts/
    - assets/weapons/polearms/
    - assets/weapons/claymores/
    - assets/weapons/swords/
    - assets/icon/icon.png

  fonts:
    - family: GenshinDb
      fonts:
        - asset: assets/fonts/GenshinDb.ttf

flutter_intl:
  enabled: true
