name: genshindb
description: A Genshin Impact app.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.10.4 <3.0.0"

dependencies:
  cupertino_icons: ^1.0.0
  data_connection_checker: ^0.3.4
  flutter_appcenter_bundle: ^3.2.0+2
  flutter:
    sdk: flutter
  flutter_bloc: ^6.1.0
  flutter_cupertino_localizations: ^1.0.1
  flutter_staggered_grid_view: "^0.3.2"
  flutter_localizations:
    sdk: flutter
  flutter_webview_plugin: ^0.3.11
  freezed_annotation: ^0.12.0
  get_it: ^5.0.0
  json_annotation: ^3.1.0
  log_4_dart_2: ^0.4.0
  moor: ^3.4.0
  package_info: ^0.4.1
  path: ^1.7.0
  path_provider: ^1.6.17
  shared_preferences: ^0.5.11
  smooth_star_rating: 1.1.1
  sprintf: ^5.0.0
  sqlite3_flutter_libs: ^0.2.0

dev_dependencies:
  build_runner: ^1.10.6
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: "^0.8.0"
  freezed: ^0.12.3
  json_serializable: ^3.3.0
  lint: ^1.3.0
  moor_generator: ^3.4.0

flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/characters/
    - assets/weapons/
    - assets/weapons/bows/
    - assets/weapons/catalysts/
    - assets/weapons/polearms/
    - assets/weapons/claymores/
    - assets/weapons/swords/
    - assets/elements/
    - assets/skills/
    - assets/items/
    - assets/icon/icon.png
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true
